*
{
    margin: 0;
    padding: 0;
}
.aft:after
{
    content: "";
    display: table;
    clear: both;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right,#a517ba, #5f1782);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.logo-icon
{
    width: 60px; 
    height: 60px; 
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}
.logo-label
{
    font-weight: 700;
    margin-left: 5px;
    color: #fff;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff;
    font-size: 34px !important; 
}
.navbar-toggler
{
    outline: none !important;
}

/*-------------------------- banner section -------------------*/

#banner
{
    background-image: linear-gradient(to right,#a517ba, #5f1782);
    color: #fff;
    /* padding-top: 1%; */
}
.promo-title
{
    font-size: 80px;
    font-weight: 600;
    margin-top: 100px;
}
.wildlife
{
    color: tomato;
}
.play-btn
{
    width: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
#banner button
{
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
}
#seeVid :hover
{
    cursor: pointer;
}
.bottom-img
{
    width: 100%;
}
.getInvolve
{
    text-align: center;
    vertical-align: middle;
    width: 40%;
    height: 80px;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: black;
}
.num
{
    font-size: 600%;
    color: tomato;
}
.num-label
{
    font-size: 220%;
}


/*------------------ blogs section--------------*/

#blogs
{
    padding: 80px 0;
}
#blogs a
{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.blogs-img
{
    width: 100%;
}
.in-col
{
    height: 500px;
    border: 1px solid lightgrey; 
    transition: transform .5s;
    overflow: hidden;
}
.in-col:hover
{
    transform: scale(1.05); 
}