*
{
    margin: 0;
    padding: 0;
}
.aft:after
{
    content: "";
    display: table;
    clear: both;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right,#a517ba, #5f1782);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.logo-icon
{
    width: 60px; 
    height: 60px; 
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}
.logo-label
{
    font-weight: 700;
    margin-left: 5px;
    color: #fff;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff;
    font-size: 34px !important; 
}
.navbar-toggler
{
    outline: none !important;
}

/*-------------------------- banner section -------------------*/

#banner
{
    background-image: linear-gradient(to right,#a517ba, #5f1782);
    color: #fff;
    /* padding-top: 1%; */
}
.promo-title
{
    font-size: 80px;
    font-weight: 600;
    margin-top: 100px;
}
.promo-title::before
{
    content: '';
    content: '';
    background-color: #ff6347;
    height: 30px;
    width: 150px;
    /* margin-left: auto;
    margin-right: auto; */
    display: block;
}
.wildlife
{
    color:  #ff6347;
}
.play-btn
{
    width: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
#banner button
{
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
}
#seeVid :hover
{
    cursor: pointer;
}
.bottom-img
{
    width: 100%;
}
.getInvolve
{
    text-align: center;
    vertical-align: middle;
    width: 40%;
    height: 80px;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: black;
}
.num
{
    font-size: 600%;
    color:  #ff6347;
}
.num-label
{
    font-size: 220%;
}


/*------------------ blogs section--------------*/

#blogs
{
    padding: 80px 0;
}
#blogs a
{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.blogs
{
    padding: 10px;
}
.blogs-img
{
    width: 100%;
}
.title::before
{
    content: '';
    content: '';
    background-color: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after
{
    content: '';
    content: '';
    background-color: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
.in-col
{
    height: 500px;
    border: 1px solid lightgrey; 
    transition: transform .5s;
    overflow: hidden;
}

.in-col:hover
{
    transform: scale(1.05); 
}
#blogs .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border-radius: 20px;
    background-color: transparent;
    color: black;
}
#blogs .btn-primary:hover
{
    opacity: 0.8;
    background-color: whitesmoke;
}

/* ------------------------ about us section -------------------------- */

#about-us
{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 100px;
}
.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul
{
    margin-left: -10px;
}
#about-us ul li
{
    margin: 10px 0;

}

/* ---------------------- Testimonails section ---------------------------------- */

#testimonials
{
    padding: 70px 0;
}
.testimonials
{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials img
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.user-details
{
    display: inline-block;
    font-size: 12px;
}
#movement
{
    background-color:  #ff6347;
    height: 400px;
}
.movement
{
    padding: 90px 0;
}
.movement-title
{
    font-size: 80px;
    color: #fff;
}
.movement-sub-title
{
    font-size: 40px;
    color: #fff;
}

/* ------------------------------- social media section ----------------------------------- */

#social-media
{
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media p
{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img
{
    width: 60px;
    transition: 0.5s;
    margin-left: 10px;
}
.social-icons a:hover img
{
    transform: translateY(-10px);
}

/* ------------------------------- footer section ----------------------------------- */

#footer
{
    background-image: linear-gradient(to right,#a517ba, #5f1782);
    color: #fff;
}
.footer-img
{
    width: 100%;
}
.footer-box
{
    padding: 10px;
}
.footer-box img
{
    width: 120px;
    margin-bottom: 10px;
}
.footer-box .fa
{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right,#a517ba, #5f1782);
}
.footer-box .form-control
{
    box-shadow: none !important;
    border: none;
    margin-top: 25px;
    max-width: 300px;
}
.footer-box .btn-primary
{
    box-shadow: none !important;
    /* border: none; */
    margin-top: 30px;
    background-image: linear-gradient(to right,#a517ba, #5f1782);
}
hr
{
    background-color: #fff;
}
.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}
.my-name
{
    text-decoration-color: skyblue;
    text-decoration-thickness: 1px;
    color: #fff;
}
.my-name:hover
{
    color: #fff;
    opacity: 0.5;
}